body {
    background: #000000;
}


.cub {
    position: relative;
    width: 20%;
    height: 300px;
    background-color: #19ffff;
    left: 40%;
    right: 40%;
    top: 40%;
    border-radius: 20px;
}

.text {
    text-align: center;
    padding-top: 30%;
    font-size: 30px;
    color: #19ffff;
}

.line {
    position: absolute;
    margin-left: auto;
    width: 70px;
    background: #000000;
    height: 40px;
    left: -40%;
    top: -90px;
    border-radius: 5px;
}

.cub:hover .line {
    transition: 3s;
    background: red;
    width: 700px;
}

.cub:hover .text {
    transition-delay: 3s;
    color: rebeccapurple;
}
